*{
    padding: 0;
    margin: 0;
       
}

#principal{
    
    display: flex;
   
 }

#cabecalho{
    font-weight:bold;
    width: 60%;
    height: 70px;
    color: white;
    background-color: rgb(218, 49, 49);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    }
#slogan{
    width: 100%;
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(218, 49, 49);
    border-bottom: 2px solid red;

}
#slogan h1{
    margin-left: 330px;
    margin-top: 15px;

}

#cabecalho p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
    
nav{
    display: flex;
    width: 40%;
    height: 70px;
    background-color: rgb(218, 49, 49);
    align-items: center;
    
    
}


#menu{
   display: flex;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     
} 

 a{
    padding: 15px;
text-decoration: none;
margin-left: 15px;
color: white;
font-weight: bold;
font-size: 18px;

 }

a:hover {
    
    border-bottom: 3px solid rgb(18, 240, 229);
    
}

#conteudo{
    width: 100%;
     background-color: rgba(226, 225, 225, 0.315);
     display: flex;
     flex-wrap: wrap;
}

#material{
    width: 45%;
    margin-top: 30px;
    margin-left: 50px;
    
      
}
#material p {
    font-size: 22px;
    text-align: center;
    margin: 10px;
    
}

img{
    width: 500px;
    height: 260px;
    margin-left:  70px;
}
 fieldset{
    border: 1px solid red;
    box-shadow: 0px 0px 4px 3px;
    
 }
 #detalhe{
    border: 2px solid black;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(218, 49, 49);
    box-shadow: 0px 0px 2px 0.6px;

 }


 #link{
    color: white;
    border-bottom: 0px solid bisque;
 }
 #link:hover{
    color: black;
 }

 #titulo{
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,
 }

 .ficha {
    width: 25%;
    margin-left: 50px;
    background-color: rgba(113, 184, 184, 0.829);
    
 }
 .ficha fieldset{
    height: 180px;
    padding: 20px;
 }


 .h2{
    color: rgb(230, 27, 27);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
#fc{
    color: white;
    border-bottom: none;
    margin-bottom: 0px;
}
#aluno{
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
}

#mformulario{
    margin-top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}
#formulario{

width: 70%;
height: 850px;
margin: 0 auto;
margin-top: 30px;
background-color: rgba(113, 184, 184, 0.829);
box-shadow: 0px 0px 5px 3px;
}
#filho{
    width: 70%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 15px;
    font-size: 19px;
       
}

#filho h3{
    color: white;
    border-bottom: 2px solid black;
    padding: 10px;
}
#botao{
    width: 250px;
    height: 35px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    
}
#rodape{
    margin-left: 50px;
    
}
#eu{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 220px;
}
#marcas{
    width: 60%;
    margin-left: 200px;
}